<div id="main" class="container col-md-6 col-center text-center">
  <header class="brand-container">
    <img src="/img/logo.png" alt="Mob Your Life">
  </header>

  <div *ngIf="!loggedIn">
    <div *ngIf="!failed && !wait">
      <p>Clique no botão abaixo para entrar utilizando a sua conta do Facebook.</p>
    </div>

    <div *ngIf="failed">
      <div class="alert alert-danger">
        <p>Você precisa autorizar o login com Facebook para continuar.</p>
      </div>
      <p>Clique novamente no botão abaixo para entrar utilizando a sua conta do Facebook.</p>
    </div>

    <div *ngIf="wait">
      <p>Por favor aguarde...</p>
    </div>
    
    <div class="login-container">
      <button class="btn btn-lg btn-social btn-facebook" (click)="login()">
        <span class="ico-facebook">f</span>
        Entrar com Facebook
      </button>
    </div>
  </div>

  <div *ngIf="loggedIn">
    <p>Olá, seja bem-vindo!</p>
    <p>Você será redirecionado, um dia...</p>
  </div>
</div>
