<div class="text-center">
  <h2>Meus Sites</h2>
  <p><a routerLink="/logout">Sair</a></p>
  <p>
    Nesta página eu posso ver quais sites eu tenho no Mob Your Life.<br/>
    Também posso pedir para criar novos sites para mim.
  </p>
</div>

<div *ngIf="!pages || !pages.length" class="text-center">
  <img src="img/spinner.gif" alt="Aguarde, carregando...">
</div>

<div *ngFor="let i of pages"
  class="well media">
  <div class="media-left">
    <img src="img/icon-box.png" alt="Site">
  </div>
  <div class="media-body">
    <p><strong>{{ i.name }}</strong></p>
    <p>{{ i.about }}</p>
  </div>
  <div class="media-right">
    <img src="img/icon-dots.png" alt="Opções">
  </div>
</div>

<div class="text-right">
  <button class="btn btn-lg btn-primary">
    Criar novo site
  </button>
</div>
